@import "../../global.scss";

.topbar{
    width: 100%;
    height: 70px;
    background-color: white;
    color: $mainColor;
    position: fixed;
    top: 0;
    z-index: 2; //if it bigger than other pages/compoenents, topbar is still fixed on top
    transition: all 1s ease; //change color topbar smoother

    .wrapper{ //wrap inside topbar. eg: menu
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between; //first element start at beginning, last element start last

        .left{
            display: flex; //flex can align item horizontally
            align-items: center;

            .logo{ //left side logo. eg: syahril.
                font-size: 40px;
                font-weight: 700;
                text-decoration: none;
                color: inherit; //inherit color from parent above. eg: color: $mainColor;
                margin-right: 40px;
            }

            .itemContainer{ //align icons at same level
                display: flex;
                align-items: center;
                margin-left: 30px;

                .icon{
                    font-size: 18px;
                    margin-right: 5px;
                }

                span{
                    font-size: 15px;
                    font-weight: 500;
                }
            }
        }

        .right{

            .hamburger{
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
            }

            span{
                width: 100%;
                height: 3px;
                background-color: $mainColor;
                transform-origin: left; //this is for line on right side topbar
                transition: all 2s ease; //all transition (eg: opacity & transform) happen after 2s, timing ease
            }
        }
    }

    &.active{
        background-color: $mainColor;
        color: white;

        .hamburger{
            span{ //each span. eg: line
                &:first-child{ //line 1
                    background-color: white;
                    transform: rotate(45deg); //rotate the line
                }
                &:nth-child(2){ //line 2 is seemless
                    opacity: 0;
                }
                &:last-child{ //line 3
                    background-color: white;
                    transform: rotate(-45deg); //rotate the line
                }
            }
        }
    }
}